*{
    padding: 0;
    margin: 0;
    }
    body{
    font-family: 'Poppins', sans-serif;
    }
    .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .navbar-links{
    display: flex;
    column-gap: 20px;
    }
    .navbar-links a{
        text-decoration: none;
        color: #10232C;
    }
    .navbar-links a:hover{
        text-decoration: underline;
        color: #1D232C;
    }
    .navbar-menu-toggle{
        display: none;
        }

/*Side Navbar*/
.side-navbar{
    background-color: #10232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    display: none;
    }
.side-navbar-link{
        margin-bottom: 30px;
        }
.side-navbar-links a{
        text-decoration: none;
        color: white;
        }
.side-navbar-links a:hover{
        text-decoration: underline
        }
/* header */
.header{
    display:flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;

}
.header-button{
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    background-color: #10232C;
    color: white;
    cursor: pointer;

}
.service{
    padding: 20px;
}
.service-container-1{
    display:flex;
 justify-content: space-between;
 align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;


}
.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
    padding-left: 35px;

}
.new-arrival-container{
    position: absolute;
    flex-basis: 20%;

}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color:#1d232c;
    position: relative;
    top: -32% ;
    left: 18%;
    border-radius: 10px;
    border: none;
    


}
.new {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border:solid black 3px;
    margin-top: 20px;
     
}
.new button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #10232C;
    border-radius: 10px;
    padding: 10px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #10232C;
    color: #F2F4F7;
}

.product-section{
    margin-top: 20px;
}
.product{
    flex-wrap: wrap;
}
.product-search{
    width: 80%;
    border: solid ;
    border-color: black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;

}
.product-search input{
    border: none;
width: 100%;
    background-color: transparent;

}
.product-search input:focus{
    outline:none;
}
.prouducts-box img{
    padding: 20px;
    
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding-left: 35px;
}
.payment{
    height: 100px;
    width: 50px;
    align-items: center;
    padding-left: 25px;
    
}
.payment-d{
    margin-top: 20px;
    margin-left: 20px;

}
.newone{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(0, 74, 77);
}
        /* Media Query*/
@media screen and (max-width:700px) {
        .navbar-menu-toggle{
            display: block;
        }
        
        .navbar-links{
        display: none;
        }
        .header-image{
            display: none;
        }
        .service-container-1{
            display: none;
        }
        .service-container-2{
            flex-direction: column;

        }
    }